@{
    ViewData["Title"] = "Settings";
}

    <div>
        @await Html.PartialAsync("/Views/Menu/Menu.cshtml")
    </div>

<script>

    //$('document').ready(function () {
    //    document.getElementById("settings").value = document.getElementById("QuotationRecipeQTYI").value;
    //});

</script>

